
<div class="container body-content">
    <div class="space align-center">
        {{#each posts}}
            <div class="row">
                 <img src="/images/uploads/{{this.img}}" alt="default img" width="180" height="180" class="img img-responsive img-thumbnail pull-left" />
                <div class="ustify-content-md-center col-md-10" >
                    <div class="post-header">
                        <h2>{{this.title}}</h2>
                    </div>

                    <p>{{this.content}}
                    </p>

                    <small class="author">
                        {{this.author}}
                    </small>

                    <div class="post-footer pull-right">
                            <a class="btn btn-default btn-xs" href="/posts/details/{{this.id}}">Read more &raquo;</a>
                    </div>
                </div>
            </div>
        {{/each}}
        
    </div>
</div>
